body {
	color: #000;
	font-family:palatino;
	font-size:15px;
	background-color: #E6E6E6;
	margin: 0px;
	box-sizing: content-box;
	overflow: hidden;
}

canvas{
	border-right: 2px solid #BDBDBD;
}

#infoPuntoTable td{
	text-align: center;
}

#infoPuntoTable{
	table-layout:auto;
}

.ng-dirty.ng-invalid{
	border-color:#a94442;
}
.ng-dirty.ng-valid{
	border-color:green;
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #D8D8D8;
    z-index: 50;
}

#splashImage{
	position:fixed;
	top:100px;
	left:25%;
	width:50%;
	height:auto;
}

#splashText{
	position:fixed;
	bottom:100px;
	left:25%;
	width:50%;
	height:auto;
	font-family:monospace;
	font-size:25px;
	color:#555;
}

#info {
	color:#000;
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
}

#container {
	overflow:hidden;
	box-sizing: content-box;
}

#viewport {
	z-index:0;
	cursor:crosshair;
	border-left: 2px solid #BDBDBD;
}

#menu {
	text-align:center;
	margin-top: 1%;
	font-size:12px;
	background-color: #E6E6E6;
	height:100%;
	box-sizing: content-box;
}


.gridMenu {
	margin:15px
}

.ietfem-button{
	height: 30px;
	width: 130px;
	font-size: medium;
	font-family:palatino;
	background-color: #D8D8D8;
	border: 2px solid #BDBDBD;
	color: #848484;
	margin-top:3px;
}

.long-grid {
	margin-bottom: 3px;
}

.position {
	margin-bottom: 3px;
}

.textModel {
	margin-top:5px;
}

.form-group {
	margin-bottom: 5px;
}

.panel-body{
	padding: 7px;
}

.form-group-last {
	margin-bottom: 10px;
}

.define-mod{
	border: 1px solid #337ab7;
    border-radius: 4px;
    padding-top: 10px;
}

.info-mod {
    border: 1px solid #337ab7;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.define-modal{
    font: 12px sans-serif;
}

.define-delete-button{
	margin-left: 10px;
	margin-top: 5px;
}

.options-button{
	height: 150px
	border-radius: 4px;
	padding-left: 5px;
	padding-right: 5px;
}

.error-msg{
	color: red;
}
.error-icon{
	padding-right: 5px;
}

//-------------- Clases para el toolbar

.navbar{
	border-bottom: 2px solid #BDBDBD;
}

#toolbar {
	display:block;
	width:100%;
	height: 40px;
	background-color:#D8D8D8;
	border-bottom: 2px solid #BDBDBD;
	box-sizing: content-box;
	z-index:1;
}

#toolbar ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 5px;
  list-style: none;
  z-index:1;
}
#toolbar ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 12px 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index:1;
}
#toolbar ul li:hover {
  background: #555;
  color: #fff;
}
#toolbar ul li ul {
  padding: 0;
  position: absolute;
  top: 40px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index:1;
}
#toolbar ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  z-index:1;
}
#toolbar ul li ul li:hover { background: #666; }
#toolbar ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.has-spinner.active {
    cursor: progress;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}
.has-spinner.active .spinner {
    opacity: 1;
    width: auto;
}
.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity .25s, width .25s;
    -moz-transition: opacity .25s, width .25s;
    -o-transition: opacity .25s, width .25s;
    transition: opacity .25s, width .25s;
}

.icon-spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    text-align: start;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #337ab7 ; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    position: absolute;
    height: 31px;
    right: 60px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
    margin-top: -1px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
    text-align: start;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.middle-align{
    float: none;
    vertical-align: middle;
    display: inline-block;
}

.switch-text{
  margin-left: 10px;
  font-size: 14px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(51, 122, 183, 0.78);
  border-radius: 1.3px;
  border: 1.7px solid #999999;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 2.1px solid #999999;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(51, 122, 183, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(51, 122, 183, 0.78);
  border-radius: 1.3px;
  border: 1.7px solid #999999;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 2.1px solid #999999;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(51, 122, 183, 0.78);
  border: 1.7px solid #999999;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(51, 122, 183, 0.78);
  border: 1.7px solid #999999;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 2.1px solid #999999;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(51, 122, 183, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(51, 122, 183, 0.78);
}
