<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<!--<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>

	<body ng-app="IETFEM">
		<div id="container" ng-controller="mainCtrl">
			
			<nav class="navbar navbar-default" id="toolbar" style="padding-bottom:0px;margin-bottom:0px">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="assets/img/logo.png" style="height:45px;width:auto;">
					</div>
					<ul>
						<li>Archivo
							<ul>
								<li>Nuevo</li>
								<li>Abrir</li>
								<li>Guardar</li>
							</ul>
						</li>
						<li>Definir
							<ul>
								<li>Materiales</li>
								<li>Secciones</li>
							</ul>
						</li>
					</ul>
				</div>	
			</nav>

			
			<div class="row">

				<div class="col-md-9">
					<div id="menuIzquierda" class="col-md-1" ng-controller="leftMenusCtrl">
						<br/>
						<br/>
						<br/>
						<div class="btn-group-vertical" role="group">
						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="seleccionar()" ng-class="{active: seleccionando()}" data-toggle="tooltip" data-placement="right" title="Seleccionar"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button>

						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="dibujarGrillas()" ng-class="{active: dibujandoGrillas()}" data-toggle="tooltip" data-placement="right" title="Dibujar Grilla"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>

						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="dibujarNodos()" ng-class="{active: dibujandoNodos()}" data-toggle="tooltip" data-placement="right" title="Dibujar Nodos"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></button>

						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="dibujarLineas()" ng-class="{active: dibujandoLineas()}" data-toggle="tooltip" data-placement="right" title="Dibujar Lineas"><span class="glyphicon glyphicon-resize-horizontal"  aria-hidden="true"></span></button>
						</div>
					</div>
					<div id="viewportContainer" class="col-md-11" style="padding:0px">
						<div id="viewport"></div>
					</div>
				</div>

				<div id="menu" class="col-md-3" style="padding:0px">
					<br/>
					<br/>
					<br/>
					<br/>
					<!-- Links del menu! -->
					<div class="row">
						<div class="col-md-offset-2 col-md-8">
							<a role="button" style="font-size:35px" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
								Actions +
							</a>
						</div>
					</div>

					<!-- FORMULARIO DE NODOS POR COORDENADA-->
					<form name="nodoCoordenadaForm" ng-show="dibujandoNodos()" ng-submit="nodoCoordenadaForm.$valid && addPoint()" novalidate>
						<div class="panel panel-primary">
							<div class="panel-heading">Info nodo seleccionado:</div>
							<div class="panel-body">
								<span>Coordenadas:</span>
							</div>
							<div class="form-group">
								 <label>X</label>
								 <input type="number" ng-model="posX" required>
							</div>
							<div class="form-group">
								<label>Y</label>
								<input type="number" ng-model="posY" required>
							</div>
							<div class="form-group">
								<label>Z</label>
								<input type="number" ng-model="posZ" required>
							</div>
							
							<div class="form-group">
								  <button class="btn btn-success" type="submit" ng-disabled="!nodoCoordenadaForm.$valid">Agregar nodo</button>
							</div>
						</div>
					</form>

					<!-- FORMULARIO DE GRILLAS-->
					<form name="grillaForm" ng-show="dibujandoGrillas()" ng-submit="grillaForm.$valid && addGrid()" novalidate>
						<div class="panel panel-primary">
							<div class="panel-heading">Nodo Origen</div>
							<div class="panel-body">
								<span>Coordenadas:</span>
							</div>
							<div class="form-group">
								 <label>X</label>
								 <input type="number" ng-model="posX" required>
							</div>
							<div class="form-group">
								<label>Y</label>
								<input type="number" ng-model="posY" required>
							</div>
							<div class="form-group">
								<label>Z</label>
								<input type="number" ng-model="posZ" required>
							</div>
						</div>	
						<div class="panel panel-primary">
							<div class="panel-heading">Datos nueva grilla:</div>
							<div class="panel-body">
								Lineas y separaciones
							</div>
							<div class="form-group">
								  <label>Lineas en X:</label>
								  <input type="number" class="longGrid" ng-model="largoX" required>
								  <label>Separacion:</label>
								  <input type="number" ng-model="separatorX" required>
							</div>
							<div class="form-group">
								  <label>Lineas en Y:</label>
								  <input type="number" class="longGrid" ng-model="largoY" required>
								  <label>Separacion:</label>
								  <input type="number" ng-model="separatorY" required>
							</div>
							<div class="form-group">	  
								  <label>Lineas en Z:</label>
								  <input type="number" class="longGrid" ng-model="largoZ" required>
								  <label>Separacion:</label>
								  <input type="number" ng-model="separatorZ" required>
							</div>

							<div class="btn-group" role="group">
								<button class="btn btn-info" type="submit" ng-disabled="!grillaForm.$valid">Agregar grilla</button>
							</div> 
						</div> 
					</form>

					<div class="collapse" id="collapseExample">
						
						<div class="btn-group btn-group-justified" role="group">
							<div class="btn-group" role="group">
								<button class="btn btn-default" ng-click="modelToText()">Obtener texto</button>
							</div>
						</div>
						<div class="form-group">  
						  <textarea class="textModel" rows="15" cols="50" ng-model="modelText" readonly></textarea>
						</div>
					
				  </div>
					
					<div class="row" ng-show="seleccionando()"> 
						<div class="col-md-offset-2 col-md-8">

							<a role="button" style="font-size:35px" data-toggle="collapse" href="#collapseInfoPunto">
								Info Nodo +
							</a>

						</div>
					</div>

					<div class="collapse in" id="collapseInfoPunto" ng-show="seleccionando()" ng-controller="editPointCtrl as editCntrl"><!-- Edicion punto seleccionado -->
						<div class="row">	
							<div class="col-md-offset-2 col-md-8">	
									<div class="panel panel-primary">
										<div class="panel-heading">Info nodo seleccionado:</div>
										<div class="panel-body">
											    ID: {{ " " + miPunto.id }}
										</div>
										<div class="table-responsive">
											<table id="infoPuntoTable" class="table">
												<tr>
													<th>Coords</th>
													<td>x</td>
													<td>y</td>
													<td>z</td>
												</tr>
												<tr>
													<th></th>
													<td>{{ miPunto.coords.x }}</td>
													<td>{{ miPunto.coords.y }}</td>
													<td>{{ miPunto.coords.z }}</td>
												</tr>
												
											</table> 
										</div>
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<div class="panel panel-primary">
									<div class="panel-heading">Edicion propiedades nodo</div>
									<div class="panel-body">
										 Condiciones de desplazamiento
									</div>	
									<form name="infoPuntoForm" ng-submit="infoPuntoForm.$valid && editCntrl.updatePoint()" novalidate>
										<div class="form-group">
											<label for="xCondition">condicion X:</label>
											<input type="number" id="xCondition" ng-model="miPunto.xCondicion" required>
										</div>
										<div class="form-group">
											<label for="yCondition">condicion: Y</label>
											<input type="number" id="yCondition" ng-model="miPunto.yCondicion" required>
										</div>
										<div class="form-group">
											<label for="zCondition">condicion: Z</label>
											<input type="number" id="zCondition" ng-model="miPunto.zCondicion" required>
										</div>
										<div class="panel-body">
										 Fuerzas aplicadas
										</div>
										<div class="form-group">
											<label for="xCondition">fuerza en X:</label>
											<input type="number" id="xCondition" ng-model="miPunto.xForce" required>
										</div>
										<div class="form-group">
											<label for="yCondition">fuerza en Y:</label>
											<input type="number" id="yCondition" ng-model="miPunto.yForce" required>
										</div>
										<div class="form-group">
											<label for="zCondition">fuerza en Z:</label>
											<input type="number" id="zCondition" ng-model="miPunto.zForce" required>
										</div>
										<div class="form-group">
											<div ng-show="editCntrl.updated()" style="color:green">Sync</div>
											<div ng-show="!editCntrl.updated()" style="color:red">UnSync</div>

											<button id="linesButton" class="btn btn-primary" type="submit" ng-disabled="!infoPuntoForm.$valid" >Actualizar!</button>
										</div>
									</form>
								</div>
							</div>
						</div>
				
					</div>

						
				</div>
				
			</div>
			
		</div>

		<script src="assets/lib/three.min.js"></script>
		<script src="assets/lib/jquery-2.1.4.min.js"></script>
		<script src="assets/lib/bootstrap.min.js"></script>
		<script src="assets/lib/angular.min.js"></script>
		<script src="assets/js/OrbitControls.js"></script>
		
		<script src="app/main.controller.js"></script>
		
		<script src="app/services/model.service.js"></script>
		<script src="app/services/space.service.js"></script>
		
	</body>
</html>