<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>

	<body ng-app="IETFEM">
		<div id="container" ng-controller="mainCtrl">
			
			<nav class="navbar navbar-default" id="toolbar" style="padding-bottom:0px;margin-bottom:0px">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="assets/img/logo.png" style="height:45px;width:auto;">
					</div>
					<ul>
						<li>Archivo
							<ul>
								<li>Nuevo</li>
								<li>Abrir</li>
								<li>Guardar</li>
							</ul>
						</li>
						<li>Definir
							<ul>
								<li>Materiales</li>
								<li>Secciones</li>
							</ul>
						</li>
					</ul>
				</div>	
			</nav>

			
			<div class="row">
				<div id="viewportContainer" class="col-md-9">
					<div id="viewport"></div>
				</div>
				
				<div id="menu" class="col-md-3" style="padding:0px">
					<a role="button" style="font-size:35px" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Actions +
					</a><br/>
				<a role="button" style="font-size:35px" data-toggle="collapse" href="#collapseInfoPunto" aria-expanded="false" aria-controls="collapseInfoPunto">
						Info Punto +
					</a>
				<div class="collapse" id="collapseInfoPunto">
					<form>
						<div class="form-group">
							<label for="puntoId">Id del punto:</label>
							<input type="text"" id="puntoId" ng-model="puntoId">
						</div>
						<div class="form-group">
							<label for="xCondition">X condition:</label>
							<input type="number" id="xCondition" ng-model="xCondition">
						</div>
						<div class="form-group">
							<button id="linesButton" class="btn btn-success" onclick="getInfoPuntoInterfaz()">Refresh info!</button>
						</div>
					</form>
				</div>
				<div class="collapse" id="collapseExample">
					
					<span>Posición:</span>
					<div class="form-group">
						 <label>X</label>
						 <input type="number" class="position" ng-model="posX">
					</div>
					<div class="form-group">
						<label>Y</label>
						<input type="number" class="position" ng-model="posY">
					</div>
					<div class="form-group">
						<label>Z</label>
						<input type="number" class="position" ng-model="posZ">
					</div>
					
					<div class="form-group">
						  <button class="btn btn-success" ng-click="addPoint()">Agregar punto</button>
					</div>
					
					<div class="form-group">
						  <label>Lineas en X:</label>
						  <input type="number" class="longGrid" ng-model="largoX">
						  <label>Separacion:</label>
						  <input type="number" ng-model="separatorX">
					</div>
					<div class="form-group">
						  <label>Lineas en Y:</label>
						  <input type="number" class="longGrid" ng-model="largoY">
						  <label>Separacion:</label>
						  <input type="number" ng-model="separatorY">
					</div>
					<div class="form-group">	  
						  <label>Lineas en Z:</label>
						  <input type="number" class="longGrid" ng-model="largoZ">
						  <label>Separacion:</label>
						  <input type="number" ng-model="separatorZ">
					</div>  
					  
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<button class="btn btn-info" ng-click="addGrid()">Agregar grilla</button>
						</div>
						<div class="btn-group" role="group">
							<button id="linesButton" class="btn btn-warning" ng-click="alternateLinesPoints()">{{linesButton}}</button>
						</div>
						<div class="btn-group" role="group">
							<button class="btn btn-default" ng-click="modelToText()">Obtener texto</button>
						</div>
					</div>
					<div class="form-group">  
					  <textarea class="textModel" rows="15" cols="50" ng-model="modelText" readonly></textarea>
					</div>
					
				  </div>
				</div>
			</div>
			
		</div>

		<script src="assets/lib/three.min.js"></script>
		<script src="assets/lib/jquery-2.1.4.min.js"></script>
		<script src="assets/lib/bootstrap.min.js"></script>
		<script src="assets/lib/angular.min.js"></script>
		<script src="assets/js/OrbitControls.js"></script>
		
		<script src="app/main.controller.js"></script>
		
		<script src="app/services/model.service.js"></script>
		<script src="app/services/space.service.js"></script>
		
	</body>
</html>