<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<!--<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>

	<body ng-app="IETFEM">
		<div id="container" ng-controller="mainCtrl">
			
			<nav class="navbar navbar-default" id="toolbar" style="padding-bottom:0px;margin-bottom:0px">
				<div class="navbar-header">
					<img src="assets/img/logo.png" style="height:45px;width:auto;">
				</div>
				<ul>
					<li>Archivo
						<ul>
							<li>Nuevo</li>
							<li>Abrir</li>
							<li>Guardar</li>
							<li data-toggle="modal" data-target="#importModelModal">Importar Modelo</li>
						</ul>
					</li>
					<li>Definir
						<ul>
							<li data-toggle="modal" data-target="#materialesModal">Materiales</li>
							<li data-toggle="modal" data-target="#seccionesModal">Secciones</li>
						</ul>
					</li>
				</ul>
			</nav>

			<!-- MODALS----------------------------------------- -->
			<div class="modal fade" id="importModelModal" tabindex="-1" role="dialog" aria-labelledby="Importar Modelo">
				<div class="modal-dialog" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			      			<h4 class="modal-title" id="myModalLabel">Importar Modelo</h4>
			      		</div>
			      		<form name="importModelForm" ng-submit="importModel()">
				      		<div class="modal-body">
						        <!--Carga de archivo-->
								<input type="file" accept='text/plain' onchange="setFile(this)">
						    </div>
						    <div class="modal-footer">
							    <div class="btn-group" role="group">
									<button class="btn btn-primary" type="submit" ng-disabled="!importModelForm.$valid">Importar</button>
								</div>
							</div>
						</form>
			      	</div>
			    </div>
			</div>

			<div class="modal fade" id="materialesModal" tabindex="-1" role="dialog" aria-labelledby="Materiales Modal">
				<div class="modal-dialog modal-lg" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			      			<h4 class="modal-title" id="myModalLabel">Materiales</h4>
			      		</div>
			      		<div class="modal-body" ng-controller="MaterialesCtrl">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-6">
										<form name="materialForm" ng-submit="addMaterial()" novalidate>
											<div class="form-group">
												 <label class="control-label">Nombre</label>
												 <input name="nombreInput" type="text" class="form-control" ng-model="nuevoMaterial.name" required>
											</div>
											<div class="form-group">
												 <label>Modula Young</label>
												 <input name="ymInput" type="number" class="form-control" ng-model="nuevoMaterial.youngModule" min="0" required>
											</div>
											<div class="form-group">
												 <label class="control-label">Gamma</label>
												 <input name="gInput" type="number" class="form-control" ng-model="nuevoMaterial.gamma" min="0"required>
											</div>
											<div class="form-group">
												 <label class="control-label">alpha (1/C)</label>
												 <input name="aInput" type="number" class="form-control" ng-model="nuevoMaterial.alpha" min="0" required>
											</div>
											<div class="form-group">
												 <label class="control-label">E</label>
												 <input name="eInput" type="number" class="form-control" ng-model="nuevoMaterial.e" min="0"required>
											</div>
											<div class="form-group" style="color:#a94442" ng-show="existeMaterial()">
												 <p>
												 	Ya existe un material con el nombre: {{ nuevoMaterial.name +"  "}} <span class="glyphicon glyphicon-remove"></span>
												 </p>
											</div>
											<div class="form-group">
												  <button class="btn btn-primary" type="submit"  ng-disabled="!materialForm.$valid || existeMaterial()">Agregar Material</button>
											</div>
											
										</form>
									</div>
									<div class="col-md-6">Tabla materiales
										<table class="table table-hover">
											<thead>
												<tr>
													<td>Nombre</td>
													<td>Y</td>
													<td>G</td>
													<td>A</td>
													<td>E</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="material in materiales" ng-click="setMaterialToRemove(material,$index)" ng-class="{active: $index == getSelectedIndex()}">
													<td> {{material.name}} </td>
													<td> {{material.youngModule}} </td>
													<td> {{material.gamma}} </td>
													<td> {{material.alpha}} </td>
													<td> {{material.e}} </td>
												</tr>
											</tbody>
										</table>
										<form name="removeMaterialForm" ng-submit="removeMaterial()" novalidate>
											<div class="form-group">
												  <button class="btn btn-primary" type="submit"  ng-disabled="getSelectedIndex()==null">Eliminar Material</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
						    
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="seccionesModal" tabindex="-1" role="dialog" aria-labelledby="Secciones Modal">
				<div class="modal-dialog modal-lg" role="document">
			    	<div class="modal-content">
			      		<div class="modal-header">
			      			<h4 class="modal-title" id="myModalLabel2">Secciones</h4>
			      		</div>
			      		<div class="modal-body" ng-controller="SeccionesCtrl">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-6">
										<form name="seccionForm" ng-submit="addSection()" novalidate>
											<div class="form-group">
												 <label class="control-label">Sección</label>
												 <input name="nombreInput" type="number" class="form-control" ng-model="nuevaSeccion.section" required>
											</div>
											<div class="form-group" style="color:#a94442" ng-show="existeSeccion()">
												 <p>
												 	Ya existe una seccion con el valor: {{ nuevaSeccion.section +"  "}} <span class="glyphicon glyphicon-remove"></span>
												 </p>
											</div>
											<div class="form-group">
												  <button class="btn btn-primary" type="submit"  ng-disabled="!seccionForm.$valid || existeSeccion()">Agregar Seccion</button>
											</div>
											
										</form>
									</div>
									<div class="col-md-6">Tabla secciones
										<table class="table table-hover">
											<thead>
												<tr>
													<td>Index</td>
													<td>Seccion</td>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="seccion in secciones" ng-click="setSectionToRemove(seccion,$index)" ng-class="{active: $index == getSelectedIndex()}">
													<td> {{ $index}} </td>
													<td> {{seccion.section}} </td>
												</tr>
											</tbody>
										</table>
										<form name="removeSectionForm" ng-submit="removeSection()" novalidate>
											<div class="form-group">
												  <button class="btn btn-primary" type="submit"  ng-disabled="getSelectedIndex()==null">Eliminar Seccion</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
						    
						</div>
					</div>
				</div>
			</div>

			<!-- Fin Modals ----------------------------------- -->

			
			<div class="row">

				<div class="col-md-9">
					<div id="menuIzquierda" class="col-md-1" ng-controller="leftMenusCtrl">
						<br/>
						<br/>
						<br/>
						<div class="btn-group-vertical" role="group">
						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="seleccionar()" ng-class="{active: seleccionando()}" data-toggle="tooltip" data-placement="right" title="Seleccionar"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span></button>

						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="dibujarGrillas()" ng-class="{active: dibujandoGrillas()}" data-toggle="tooltip" data-placement="right" title="Dibujar Grilla"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>

						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="dibujarNodos()" ng-class="{active: dibujandoNodos()}" data-toggle="tooltip" data-placement="right" title="Dibujar Nodos"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></button>

						  <button class="btn btn-default btn-lg botonMenuIzq" ng-click="dibujarLineas()" ng-class="{active: dibujandoLineas()}" data-toggle="tooltip" data-placement="right" title="Dibujar Lineas"><span class="glyphicon glyphicon-resize-horizontal"  aria-hidden="true"></span></button>
						</div>
						<img src="assets/img/axis.png" style="width:56px;height:56px;border-style: solid;border-width: 2px;border-radius: 5px;position: fixed;bottom:15px;">
					</div>
					<div id="viewportContainer" class="col-md-11" style="padding:0px">
						<div id="viewport"></div>
					</div>
				</div>

				<div id="menu" class="col-md-3" style="padding:0px">
					<br/>
					<br/>
					<br/>
					<br/>
					<!-- Links del menu! -->
					<div class="row">
						<div class="col-md-offset-2 col-md-8">
							<a role="button" style="font-size:35px" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
								Actions +
							</a>
						</div>
					</div>
						
					<!-- FORMULARIO DE NODOS POR COORDENADA-->
					<form name="nodoCoordenadaForm" ng-show="dibujandoNodos()" ng-submit="nodoCoordenadaForm.$valid && addPoint()" novalidate>
						<div class="panel panel-primary">
							<div class="panel-heading">Info nodo seleccionado:</div>
							<div class="panel-body">
								<span>Coordenadas:</span>
							</div>
							<div class="form-group">
								 <label>X</label>
								 <input type="number" ng-model="posX" required>
							</div>
							<div class="form-group">
								<label>Y</label>
								<input type="number" ng-model="posY" required>
							</div>
							<div class="form-group">
								<label>Z</label>
								<input type="number" ng-model="posZ" required>
							</div>
							
							<div class="form-group">
									<div ng-show="yaExistePunto()" style="color:red">Ya existe un nodo en estas coordenadas <span class="glyphicon glyphicon-remove"></span></div>
								  <button class="btn btn-success" type="submit" ng-disabled="!nodoCoordenadaForm.$valid || yaExistePunto()">Agregar nodo</button>
							</div>
						</div>
					</form>

					<!-- FORMULARIO DE GRILLAS-->
					<form name="grillaForm" ng-show="dibujandoGrillas()" ng-submit="grillaForm.$valid && addGrid()" novalidate>
						<div class="panel panel-primary">
							<div class="panel-heading">Nodo Origen</div>
							<div class="panel-body">
								<span>Coordenadas:</span>
							</div>
							<div class="form-group">
								 <label>X</label>
								 <input type="number" ng-model="posX" required>
							</div>
							<div class="form-group">
								<label>Y</label>
								<input type="number" ng-model="posY" required>
							</div>
							<div class="form-group">
								<label>Z</label>
								<input type="number" ng-model="posZ" required>
							</div>
						</div>	
						<div class="panel panel-primary">
							<div class="panel-heading">Datos nueva grilla:</div>
							<div class="panel-body">
								Lineas y separaciones
							</div>
							<div class="form-group">
								  <label>Lineas en X:</label>
								  <input type="number" class="longGrid" ng-model="largoX" ng-pattern="/^[0-9]{1,7}$/" required>
								  <label>Separación:</label>
								  <input type="number" ng-model="separatorX" ng-pattern="/^[0-9]{1,7}$/" required>
							</div>
							<div class="form-group">
								  <label>Lineas en Y:</label>
								  <input type="number" class="longGrid" ng-model="largoY" ng-pattern="/^[0-9]{1,7}$/" required>
								  <label>Separación:</label>
								  <input type="number" ng-model="separatorY" ng-pattern="/^[0-9]{1,7}$/" required>
							</div>
							<div class="form-group">	  
								  <label>Lineas en Z:</label>
								  <input type="number" class="longGrid" ng-model="largoZ" ng-pattern="/^[0-9]{1,7}$/" required>
								  <label>Separación:</label>
								  <input type="number" ng-model="separatorZ" ng-pattern="/^[0-9]{1,7}$/" required>
							</div>

							<div class="btn-group" role="group">
								<button class="btn btn-info" type="submit" ng-disabled="!grillaForm.$valid">Agregar grilla</button>
							</div> 
						</div> 
					</form>

					<div class="collapse" id="collapseExample">
						
						<div class="btn-group btn-group-justified" role="group">
							<div class="btn-group" role="group">
								<button class="btn btn-default" ng-click="modelToText()">Obtener texto</button>
							</div>
						</div>
						<div class="form-group">  
						  <textarea class="textModel" rows="15" cols="50" ng-model="modelText" readonly></textarea>
						</div>
					
				  	</div>
					
					<div class="row" ng-show="seleccionando()"> 
						<div class="col-md-offset-2 col-md-8">

							<a role="button" style="font-size:35px" data-toggle="collapse" href="#collapseInfoPunto">
								Info Nodo +
							</a>

						</div>
						
					</div>

					<!-- Edicion punto seleccionado -->
					<div class="collapse in" id="collapseInfoPunto" ng-show="seleccionando()" ng-controller="editPointCtrl as editCntrl">
						<div class="row">	
							<div class="col-md-offset-2 col-md-8">	
									<div class="panel panel-primary">
										<div class="panel-heading">Info nodo seleccionado:</div>
										<div class="panel-body">
											    ID: {{ " " + miPunto.id }}
										</div>
										<div class="table-responsive">
											<table id="infoPuntoTable" class="table">
												<tr>
													<th>Coords</th>
													<td>x</td>
													<td>y</td>
													<td>z</td>
												</tr>
												<tr>
													<th></th>
													<td>{{ miPunto.coords.x }}</td>
													<td>{{ miPunto.coords.y }}</td>
													<td>{{ miPunto.coords.z }}</td>
												</tr>
												
											</table> 
										</div>
									</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<div class="panel panel-primary">
									<div class="panel-heading">Edicion propiedades nodo</div>
									<div class="panel-body">
										 Condiciones de desplazamiento
									</div>	
									<form name="infoPuntoForm" ng-submit="infoPuntoForm.$valid && editCntrl.updatePoint()" novalidate>
										<div class="form-group">
											<label for="xCondition">condicion X:</label>
											<input type="text" id="xCondition" ng-model="miPunto.xCondicion" ng-pattern="/^-?\d+(,\d+)*(\.\d+(e\d+)?)?$/" required>
										</div>
										<div class="form-group">
											<label for="yCondition">condicion: Y</label>
											<input type="text" id="yCondition" ng-model="miPunto.yCondicion" ng-pattern="/^-?\d+(,\d+)*(\.\d+(e\d+)?)?$/" required>
										</div>
										<div class="form-group">
											<label for="zCondition">condicion: Z</label>
											<input type="text" id="zCondition" ng-model="miPunto.zCondicion" ng-pattern="/^-?\d+(,\d+)*(\.\d+(e\d+)?)?$/" required>
										</div>
										<div class="panel-body">
										 Fuerzas aplicadas
										</div>
										<div class="form-group">
											<label for="xCondition">fuerza en X:</label>
											<input type="text" id="xCondition" ng-model="miPunto.xForce" ng-pattern="/^-?\d+(,\d+)*(\.\d+(e\d+)?)?$/" required>
										</div>
										<div class="form-group">
											<label for="yCondition">fuerza en Y:</label>
											<input type="text" id="yCondition" ng-model="miPunto.yForce" ng-pattern="/^-?\d+(,\d+)*(\.\d+(e\d+)?)?$/" required>
										</div>
										<div class="form-group">
											<label for="zCondition">fuerza en Z:</label>
											<input type="text" id="zCondition" ng-model="miPunto.zForce" ng-pattern="/^-?\d+(,\d+)*(\.\d+(e\d+)?)?$/" required>
										</div>
										<div class="form-group">
											<div ng-show="editCntrl.updated()" style="color:green">Sync</div>
											<div ng-show="!editCntrl.updated()" style="color:red">UnSync</div>

											<button id="linesButton" class="btn btn-primary" type="submit" ng-disabled="!infoPuntoForm.$valid" >Actualizar!</button>
										</div>
									</form>
								</div>
							</div>
						</div>
							
					</div>

					<div class="row" ng-show="seleccionando()"> 
						<div class="col-md-offset-2 col-md-8">

							<a role="button" style="font-size:35px" data-toggle="collapse" href="#collapseInfoLinea">
								Info Barras +
							</a>

						</div>
						
					</div>

					<!-- Edicion linea seleccionada -->
					<div class="collapse in" id="collapseInfoLinea" ng-show="seleccionando()" ng-controller="editLineCtrl as lineCtrl">
						<div class="row">
							<div class="col-md-offset-2 col-md-8">
								<div class="panel panel-primary">
									<div class="panel-heading">Edicion propiedades de la barra</div>
									<div class="panel-body">
										 Caracteristicas
									</div>	
									<form name="infoLineaForm" ng-submit="infoLineaForm.$valid && lineCtrl.updateLine()" novalidate>
										<div class="form-group">
											<label>Material:</label>
											<select ng-model="miLinea.material" ng-options="material.name for material in misMateriales track by material.name" required>
												<option></option>
											</select>
										</div>
										<div class="form-group">
											<label>Seccion:</label>
											<select ng-model="miLinea.section" ng-options="seccion.section for seccion in misSecciones track by seccion.section" required>
												<option></option>
											</select>
										</div>
										<div class="form-group">
											<div ng-show="miLinea.id == 0" style="color:red">No hay linea seleccionada <span class="glyphicon glyphicon-remove"></span></div>
											<div ng-show="lineCtrl.updated()" style="color:green">Sync</div>
											<div ng-show="!lineCtrl.updated()" style="color:red">UnSync</div>
											<button id="linesButton" class="btn btn-primary" type="submit" ng-disabled="!infoLineaForm.$valid" >Actualizar!</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

						
				</div>
				
			</div>
			
		</div>

		<script src="assets/lib/three.min.js"></script>
		<script src="assets/lib/jquery-2.1.4.min.js"></script>
		<script src="assets/lib/bootstrap.min.js"></script>
		<script src="assets/lib/angular.min.js"></script>
		<script src="assets/js/OrbitControls.js"></script>
		
		<script src="app/main.controller.js"></script>
		
		<script src="app/services/model.service.js"></script>
		<script src="app/services/space.service.js"></script>
		
	</body>
</html>